body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(236, 230, 230);
}

header{ 
    margin: 0;
    background: white;
    padding: 15px 0px;
   
}

main {
    padding-top: 0px;
}

header h1 {
   width: 600px;
   margin: 0px;
   margin: auto;
   
}


article{
    width: 600px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    border: 1px solid gray;

   
}

.article_header { 
    border: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    margin: auto;
}

.article_header__title { 
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.article_header__date {
     font-size: 1rem;
     color: grey;
     margin: 0;

    }

.article_body {
    padding: 0;
    margin: 0;
}

.article_header__text {
    padding: 0;
    margin: 20px;
    color: black;
    justify-content: center;
}


